.status-open {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.status-open .sidebar {
  display: inline-flex;
  flex-direction: column;
  height: 1024px;
  align-items: flex-start;
  gap: 24px;
  padding: 24px 16px 32px;
  position: relative;
  background-color: var(--color-palettesgraywhite);
  border-right: 1px solid var(--color-palettesindigo50);
}

.status-open .user {
  display: inline-flex;
  align-items: flex-start;
  gap: 12px;
  position: relative;
  flex: 0 0 auto;
}

.status-open .avatar-w-addons {
  position: relative;
  width: 48px;
  height: 48px;

  background-size: cover;
}

.status-open .status {
  position: relative;
  width: 12px;
  height: 12px;
  top: 36px;
  left: 36px;
}

.status-open .dot {
  position: relative;
  width: 16px;
  height: 16px;
  top: -2px;
  left: -2px;
  background-color: var(--lightactive-button);
  border-radius: 50%;
  border: 2px solid var(--lightwhite);
}

.status-open .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.status-open .name,
.status-open .prof {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--heading-h5-14-SB-font-family);
  font-weight: var(--heading-h5-14-SB-font-weight);
  font-size: var(--heading-h5-14-SB-font-size);
  letter-spacing: var(--heading-h5-14-SB-letter-spacing);
  line-height: var(--heading-h5-14-SB-line-height);
  font-style: var(--heading-h5-14-SB-font-style);
  white-space: nowrap;
}

.status-open .name {
  color: var(--lightactive-button);
}

.status-open .prof {
  color: var(--darkhover-sub);
}

.status-open .menu {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  align-items: flex-start;
  position: relative;
}

.status-open .search {
  display: flex;
  width: 200px;
  align-items: flex-start;
  gap: 8px;
  padding: 12px;
  background-color: var(--color-palettesindigo50);
  border-radius: 8px;
  position: relative;
}

.status-open .icon {
  position: relative;
  width: 24px;
  height: 24px;

  background-size: contain;
}

.status-open .text-wrapper {
  position: relative;
  flex: 1;
  font-family: var(--heading-h5-14-SB-font-family);
  font-weight: var(--heading-h5-14-SB-font-weight);
  color: var(--color-palettesindigo400);
  font-size: var(--heading-h5-14-SB-font-size);
  letter-spacing: var(--heading-h5-14-SB-letter-spacing);
  line-height: var(--heading-h5-14-SB-line-height);
  font-style: var(--heading-h5-14-SB-font-style);
  white-space: nowrap;
}

.status-open .menu-item {
  display: flex;
  width: 200px;
  gap: 12px;
  padding: 12px;
  background-color: var(--lightwhite);
  border-radius: 8px;
  align-items: flex-start;
  position: relative;
}

.status-open .icon-icon-for-menu {
  position: relative;
  width: 24px;
  height: 24px;

  background-size: contain;
}

.status-open .divider {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: var(--color-palettesindigo50);
}

.status-open .menu-item-2 {
  display: flex;
  width: 200px;
  align-items: center;
  gap: 12px;
  padding: 12px;
  background-color: var(--lightwhite);
  border-radius: 8px;
  position: relative;
}

.status-open .toggle-only {
  position: relative;
  width: 36px;
  height: 20px;
  background-color: var(--lighttoggle-bg);
  border-radius: 10px;
}

.status-open .toggle-w-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  position: relative;
  top: 2px;
  left: 2px;
  background-color: var(--lightwhite);
  border-radius: 10px;
}

.status-open .img {
  position: relative;
  width: 12px;
  height: 12px;
}
